nodeRED_EV3
[{"id":"3c5b1f9e.25173","type":"ibmiot out","z":"28ded848.726738","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"LegoEV3","deviceType":"Lego","eventCommandType":"get_data","format":"json","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":791,"y":667,"wires":[]},{"id":"e74b865d.1a2f1","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":467.25,"wires":[["9c2dd042.1d0c08"]]},{"id":"9c2dd042.1d0c08","type":"function","z":"28ded848.726738","name":"ArmControl","func":"msg = {\n  payload: JSON.stringify(\n    {\n      robotControl: {\n          speed: 1000,\n          time: 2000\n      },\n      voice: 'I will cooldown this area.'\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":466.75,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"859f000d.e11378","type":"ibmiot in","z":"28ded848.726738","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"FF-LEGO","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Firefly","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":116,"y":288.25,"wires":[["12c06a30.56aaa6"]]},{"id":"cc71612c.e110d","type":"debug","z":"28ded848.726738","name":"","active":false,"console":"false","complete":"false","x":471,"y":299.5,"wires":[]},{"id":"407a04df.ef151c","type":"function","z":"28ded848.726738","name":"sendFireflyDataToRobot","func":"fireflyData = msg.payload.d;\nlux = fireflyData.l;\ntemp = fireflyData.t;\n\n// Create MQTT message in JSON\n//msg = { \"topic\": \"iot-2/type/Lego/id/LegoEV3/evt/mindstorm-status/fmt/json\", \"payload\": { \"d\": \"123\" }, \"deviceId\": \"LegoEV3\", \"deviceType\": \"Lego\", \"eventType\": \"mindstorm-status\", \"format\": \"json\", \"_msgid\": \"935f1f1f.6ca0e\" }\n\nif (lux >= 50) {\n    text = \"It is very very bright!\"\n} else {\n    text = \"It is dark. I am scared. Please turn on the light.\"\n}\n\nif (temp >= 26) {\n    speed = (Math.round(temp) - 25 ) * 150;\n    msg = {\n        payload: JSON.stringify(\n        {\n          robotControl: {\n              speed: speed,\n              time: 3000\n          },\n          voice: 'I will cooldown this area.'\n        }\n      )\n    };\n} else {\n   msg = {\n      payload: JSON.stringify(\n        {\n          firefly: fireflyData,\n          voice: text\n        }\n      )\n    }; \n}\n\n\n\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":412.5,"y":389,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"e1c8a240.38db68","type":"function","z":"28ded848.726738","name":"MoveRobot Forward","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'fwd'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":377.5,"y":556,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"35982a7d.2f8dd6","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":106.5,"y":548,"wires":[["e1c8a240.38db68"]]},{"id":"7339c201.be18d4","type":"function","z":"28ded848.726738","name":"MoveRobot Right","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'right'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":371.5,"y":647,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"eaedbd.f4777a4","type":"function","z":"28ded848.726738","name":"MoveRobot Left","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'left'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":359.5,"y":600,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"8bdd0c19.8e1e78","type":"function","z":"28ded848.726738","name":"MoveRobot Back","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'back'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":369.5,"y":692,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"66043aa4.d4c864","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":106.5,"y":633,"wires":[["7339c201.be18d4"]]},{"id":"b1797cd8.fcf758","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":108.5,"y":681,"wires":[["8bdd0c19.8e1e78"]]},{"id":"d4e8d78f.6ae7b","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":105.5,"y":590,"wires":[["eaedbd.f4777a4"]]},{"id":"8e0992fa.acc188","type":"debug","z":"28ded848.726738","name":"","active":true,"console":"false","complete":"false","x":802.5,"y":445,"wires":[]},{"id":"12c06a30.56aaa6","type":"delay","z":"28ded848.726738","name":"Delay Firefly","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":194,"y":382.75,"wires":[["407a04df.ef151c","cc71612c.e110d"]]},{"id":"c3c2bb29.bea838","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":105,"y":763,"wires":[["8c0e4ed9.be9ed"]]},{"id":"8c0e4ed9.be9ed","type":"function","z":"28ded848.726738","name":"Speak - Welcome","func":"msg = {\n  payload: JSON.stringify(\n    {\n      voice: 'Welcome to IBM Watson IOT workshop.'\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":385,"y":762.5,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]},{"id":"d3f588e3.217ef8","type":"inject","z":"28ded848.726738","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":103,"y":824,"wires":[["b8494d44.77023"]]},{"id":"b8494d44.77023","type":"function","z":"28ded848.726738","name":"Speak - other","func":"msg = {\n  payload: JSON.stringify(\n    {\n      voice: 'I am glad to see so many participants. I now you will have fun today.'\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":374,"y":822.5,"wires":[["3c5b1f9e.25173","8e0992fa.acc188"]]}]
